#gridmeny{ /* Grid till navigeringmenyn (gäller både startsidan och learn more)*/
    display: grid;
    grid-auto-rows: 5vw;
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    grid-row-gap: 15vw;
}

.title{
  grid-row:1/2;
  grid-column:1/2;
}

#learnmore{
  grid-row: 1/2;
  grid-column:2/3;
}

#donate{
  grid-row:1/2;
  grid-column:3/4;
}

#gridcontent{ /* Grid till all content på sidan */
  display:grid;
  grid-auto-rows: minmax(40vw, auto);
  grid-template-columns:repeat(6,1fr);
  grid-row-gap: 15vw;
}

.left{
  grid-column:1/4;
}

.right{
  grid-column:4/7;
}

/* Bild med text på*/
.textwpic{
  grid-row: 1/2;
  grid-column:1/-1;
}

.textonpic{
  grid-row:1/2;
  grid-column:1/5;
}

/* Två bilder */
.img1, .img2{
  grid-row: 2/3;
}

/*Statement*/
.statement{
  grid-row:3/4;
  grid-column:2/6;
}

/* Bildspel*/
.slideshow-container{
  grid-column:1/-1;
  grid-row:4/5;
}

/* Statement med bild*/
.statelearnmore, .imglearnmore{
  grid-row: 5/6;
}

#white{/* Grid till tre statements med bilder*/
  display:grid;
  grid-auto-rows: minmax(5vw, auto);
  grid-template-columns:repeat(2, 1fr);
  grid-row-gap:5vw;
}

.white{
  grid-column:1/-1;
  grid-row:6/7;
}

.state1{
  grid-column:1/2;
  grid-row:1/2;
}

.bild1{
  grid-column:2/3;
  grid-row:1/2;
}

.state2{
  grid-column:2/3;
  grid-row:2/3;
}

.bild2{
  grid-column:1/2;
  grid-row:2/3;
}

.state3{
  grid-column:1/2;
  grid-row:3/4;
}

.bild3{
  grid-column:2/3;
  grid-row:3/4;
}

.donate{
  grid-column:1/-1;
  grid-row:4/5;
}


/* Sista bilden */
.lastpic{
  grid-column: 1/-1;
  grid-row:7/8;
}

/* Footer*/
.footindeximg{
  grid-row: 8/9;
  grid-column:4/7;
}

.footindexlist{
  grid-row:8/9;
  grid-column:1/4;
}

.footindexlink{
  grid-row:8/9;
}

/*  LEARN MORE SIDAN */


/* Bild med text på*/
.stateonpic{
  grid-column:4/7;
  grid-row:1/2;
}

/* Info med bilder */
.info1, .info2, .info3{
  grid-row:2/3;
}

.info1{
  grid-column:1/3;
}

.info2{
  grid-column:3/5;
}

.info3{
  grid-column:5/7;
}

/*Egen grid*/
/* Statement med bild*/
.whiteb{
  grid-column: 1/-1;
  grid-row:3/4;
}

.state{
  grid-column:1/2;
  grid-row:1/2;
}

.statepic{
  grid-column:2/3;
  grid-row:1/2;
}

.linkdonate{
  grid-column:1/2;
  grid-row:1/2;
}

/*Tre bilder*/
.sid1{
  grid-column:1/2;
}

.sid2{
  grid-column:2/3;
}

.img{
  grid-row:2/3;
}

/* Bilder med info*/
.row1{
  grid-row:3/4;
}

.row2{
  grid-row:4/5;
}
/* Egen grid slut*/

/* Donation med bild */
.imgdonate, .statedonate{
  grid-row: 4/5;
}

.imgdonate{
  grid-column:4/7;
}

.statedonate{
  grid-column:1/4;
}

/*Sista bilden*/
.fullpic{
  grid-row: 5/6;
  grid-column:1/-1;
}

.picwtext{
  grid-row:5/6;
  grid-column:4/7;
}

/* Footer*/
.footlearnimg{
  grid-row: 6/7;
  grid-column:4/7;
}

.footlearnlist{
  grid-row:6/7;
  grid-column:1/4;
}

.footlearnlink{
  grid-row:6/7;
}

/* Mediaquery*/
@media only screen and (max-width: 700px){
#gridmeny{
  grid-template-columns:0.4fr 0.3fr 0.3fr;
  grid-template-rows:15vw;
}

.textonpic, .img2, .imglearnmore, .statelearnmore
, .state1, .bild1, .state2, .bild2, .state3, .bild3
, .donate, .imgfoot, .donatefoot, .foot,
 .stateonpic, .info1, .info2, .info3, .statepic, .state,
 .imgdonate, .linkdonate, .statedonate, .sid1, .sid2{
  grid-column:1/-1;
}

.statelearnmore{
  grid-row:6/7;
}

.white{
  grid-row:7/8;
}

.state1{
  grid-row:2/3;
}

.bild2{
  grid-row:3/4;
}

.state2{
  grid-row:4/5;
}

.bild3{
  grid-row:5/6;
}

.state3{
  grid-row:6/7;
}

.donate{
  grid-row:7/8;
}

.lastpic{
  grid-row:8/9;
}

.footindeximg{
  grid-row:9/10;
}

.footindexlink, .footindexlist{
  grid-row:10/11;
}

.info2{
  grid-row:3/4;
}

.info3{
  grid-row:4/5;
}

.whiteb{
  grid-row:5/6;
}

.state, .linkdonate{
  grid-row:2/3;
}

.high{
  grid-row:3/4;
}

.mq1{
  grid-row:4/6;
}

.mq2{
  grid-row:6/8;
}

.mq3{
  grid-row:8/10;
}

.mq4{
  grid-row:10/12;
}


.imgdonate{
  grid-row:6/7;
}

.statedonate{
  grid-row:7/8;
}

.fullpic, .picwtext{
  grid-row:8/9;
}

.footlearnimg{
  grid-row:9/10;
}

.footlearnlink, .footlearnlist{
  grid-row:10/11;
}

}
