*{
  padding:0;
  margin:0;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

/* Navigeringsmenyn */
#learnmore, #donate, .title{
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
}
