*{
  margin:0;
  padding:0;
  font-family: 'Bebas Neue', cursive;
}

a{/* Design till alla länkar*/
  text-decoration: none;
  color: black;
}

a:hover{
  opacity:50%;
  transition: 0.3s; /* Mjukare övergång - transition effect*/
}

img{
  width:100%;
}

/* Navigeringsmenyn */
#learnmore, #donate, .title{
  text-align: center;
  align-self: center;
}

#donate{ /* Donera knappen ska ha rundade kanter*/
  border-radius:60%;
  padding-top:0.5vw;
  padding-bottom:0.5vw;
}

#learnmore, #donate{
  font-size:1.75vw;
  margin:3vw;
  background-color:rgb(64, 213, 169);
}

#learnmore{
  background-color:white;
}

.title{
  font-family: 'Sansita Swashed', cursive;
  color:white;
  font-size:3vw;
}

#gridmeny{
  position:sticky;/*Menyn ska stanna kvar när man scrollar*/
  position: -webkit-sticky; /* Safari */
  top:0;
  background-color:black;
  z-index:1; /* Den ligger överst på sidan (ingenting bakom)*/
}

.h1onclick:hover{ /*Länk H1 på learnmore sidan*/
  opacity:50%;
  transition: 0.3s; /* Mjukar övergång - transition effect*/
}

/* Side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden; /* Ta bort horizontal scroll */
  padding-top: 6vw; /* Placera content 6vw från toppen  */
  transition: 0.5s; /* Mjukar övergång - transition effect*/
}

/* Navigation menu länkar */
.sidenav a {
  padding: 0.5vw 0.5vw 0.5vw 3vw;
  font-size: 2vw;
  color: white;
  display: block;
  transition: 0.3s;
}

/* Länkarna ändrar färg vid hoover */
.sidenav a:hover {
  color: rgb(64, 213, 169);
}

/* Position och styling av stängknappen*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 3vw;
  font-size: 4vw;
  margin-left: 5vw;
}

#gridcontent{ /* Sidans bakgrund ska vara svart */
  background-color:black;
}

/* Text med bild på */
.textonpic{
  text-align:center;
  align-self:center;
  color:rgb(64, 213, 169);/*rgb(64, 213, 169)*/
  font-size:2.5vw;
  margin:0vw 4vw 15vw 4vw;
  background-color:black;
}

.h2{
  color:rgb(217, 226, 225);
  font-size:6vw;
  padding-bottom:3vw;
}

.statement{
  color:white;
  text-align:center;
  align-self:center;
  font-size:5vw;
  margin-top:-25vw;
}


/* Bildspel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  margin-top:-20vw;
}

/* De bilder som inte visas syns inte */
.mySlides {
  display: none;
}

/* On hover, svart bakgrund med lite genomskinlighet */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Statement med bild och länk */
.statelearnmore{
  color:white;
}

.statewlink{
  margin:10vw 5vw 4vw 5vw;
  font-size:3vw;
}

.imglearnmore{
  height:50vw;
}

.linkwstate{
  background-color:rgb(64, 213, 169);
  padding:1vw;
  font-size:2vw;
  margin-left:5vw;
}

/* Statements och bilder med vit bakgrund*/
.donate{
  text-align:center;
  align-self:center;
  background-color:rgb(64, 213, 169);
  padding:1vw;
  font-size:2vw;
  margin:0 43vw 5vw 43vw;
}

.state1, .state2, .state3{
  font-size:4vw;
  text-align:center;
  align-self:center;
  margin:0 2vw 0 2vw;
}

#white{
  background-color:white;
}

/* Avslutningsbild*/
.lastpic{
  margin-top:-15vw;
}

/*footer*/
.donatefoot{
  background-color:rgb(64, 213, 169);
  padding:1vw;
  font-size:2vw;
  text-align:center;
  align-self:center;
  margin: 43vw 18vw 5vw 18vw;
}

.imgfoot{
  width:70%;
  justify-content:center;
  margin:5vw 0 0 7vw;
}

.foot{
  color:rgb(64, 213, 169);
  list-style-type:none;
  font-size:2vw;
  margin: 5vw 5vw 0 5vw;
  text-align:center;
}

.big{
  font-size:3vw;
  color:white;
  margin:5vw 0 5vw 0;
}

/* Learn more sidan*/

/*Text över bild*/
.stateonpic{
  background-color:rgba(250, 250, 250, 0.7);
  color:black;
  margin:10vw 5vw 30vw 5vw;
  padding:5vw;
  border-radius:10%;
  font-size:3vw;
  text-align:center;
  align-self:center;
}

/*Tre bilder med text*/
.pic1, .pic2, .pic3{
  height:30vw;
  width:80%;
  margin-left:3vw;
}

.text1, .text2, .text3{
  text-align:center;
  margin-top:2vw;
  width:80%;
  margin-left:3vw;
  font-size:2vw;
  color:rgb(213, 217, 221);
}

/* Statement och bild med vit bakgrund*/
.statepic{
  width:80%;
  height:50vw;
  margin:5vw 0 5vw 5vw;
}

.state{
  font-size:4vw;
  text-align:center;
  align-self:center;
  margin:0 1vw 0 3vw;
}

.linkdonate{
  text-align:center;
  margin: 38vw 20vw 0 20vw;
  align-self:center;
}

/* Tre bilder*/
.img{
  margin-top:-5vw;
}

.down{
  margin-top:25vw;
  height:30vw;
}

.high{
  height:60vw;
}

/*Fyra bilder med text*/
.row1{
  margin-top:5vw;
}

.imgwfacts{
  width:60%;
  height:25vw;
  margin-left:10vw;
}

.fact{
  text-align:center;
  margin:2vw 10vw 5vw 10vw;
  font-size:1.75vw;
}

/* Bild med länk till donation*/
.statedonate{
  color:white;
  text-align:center;
  align-self:center;
  margin-left:5vw;
}

.text{
  font-size:3vw;
  margin-bottom:5vw;
}

.imgdonate{
  width:80%;
  margin-left:5vw;
}

.statedonatelink{
  background-color:rgb(64, 213, 169);
  padding:1vw;
  font-size:2vw;
}

/* Sista bilden med text*/
.picwtext{
  font-size:8vw;
  text-align:center;
  align-self:center;
  margin:5vw;
}

/*Mediaquery*/
@media only screen and (max-width: 700px){
#learnmore, #donate{
  font-size:3vw;
}

.sidenav a, .donate, .foot, .donatefoot{
  font-size:3.5vw;
}

.sidenav .closebtn, .statement, .text{
  font-size:6vw;
}

.h2{
  font-size:7vw;
}

.textonpic, .statewlink, .big, .text1, .text2, .text3, .fact, .statedonatelink{
  font-size:4vw;
}

.img1{
  display:none;
}

.imglearnmore{
  height:120vw;
}

.statelearnmore{
  text-align:center;
}

.linkwstate{
  margin-left:0;
  font-size:3vw;
}

.imgfoot{
  margin:0;
  justify-self:center;
}

.foot{
  margin-top:-10vw;
}

.donatefoot{
  margin-left:40vw;
  margin-right:40vw;
}

.stateonpic{
  border-radius:40%;
  margin-top:55vw;
  margin-bottom:0;
}

.picfish, .down{
  display:none;
}

.pic1, .pic2, .pic3{
  height:70vw;
  margin:0;
  margin-bottom:2vw;
}

.text1, .text2, .text3{
  margin-left:10vw;
}

.info1, .info2, .info3{
  text-align:center;
}

.statepic{
  height:80%;
  justify-self:center;
  margin:0;
  margin-top:10vw;
}

.state{
  margin-top:-15vw;
}

.linkdonate{
  justify-self:center;
  margin:0;
  margin-top:15vw;
  font-size:3.5vw;
  padding:2vw 5vw 2vw 5vw;
}

.high{
  margin-top:5vw;
  height:100vw;
}

.imgwfacts{
  margin:0;
  height:auto;
}

.mq1, .mq2, .mq3, .mq4{
  text-align:center;
}

.imgdonate{
  margin:0;
  justify-self:center;
}

.statedonate{
  margin:0;
  margin:0 5vw 0 5vw;
}

.statedonatelink{
  padding:2vw 5vw 2vw 5vw;
}

.picwtext{
  font-size:10vw;
}

}
